{% extends "layout-light.twig" %}
{% block pagename %}<i class="mdi mdi-monitor-dashboard mr-2"></i>Senet İşlem{% endblock %}
{% block bread %}  

    <li class="breadcrumb-item"><a href="javascript:void(0);">Kıymetli Evraklar</a></li>
    <li class="breadcrumb-item "><a href="javascript:void(0);">Senetler</a></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0);">Senet İşlem</a></li>{% endblock %}
        {% block head %}



    {% endblock %}
    {% block content %}

        <div class="row">

            <div class="col-md-12">

                <div class="card">
                 
                    <div class="card-body">
                        <div class="row">
                         
                            
                            
                            



                        </div>
                    </div>
                </div>
            </div>
  </div>

            

    {% endblock %}

    {% block footer %}
 


    {% endblock %}