{% extends "layout-light.twig" %}

{% block pagename %}<i class="mdi mdi-monitor-dashboard mr-2"></i>Anasayfa{% endblock %}
{% block bread %}

    <li class="breadcrumb-item"><a href="javascript:void(0);">Hoşgeldiniz</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0);">Pano</a></li>{% endblock %}

{% block content %}





        <div class="col-md-12 m-t-15">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-0">Paketiniz Yetersiz</h4>
                </div>


                <div class="card-body">


                </div>
            </div>
        </div>





{% endblock %}

{%  block footer %}



{% endblock %}