{% extends "layout-light.twig" %}

{% block content %}

    <div class="row">



        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">


                            <a href="{{url}}/stok-haraket/cikis" class="btn btn-primary col-md-12" style="margin-top: 15px;">Yeni Satış Faturası</a>

                        </div>



                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <a href="{{url}}/stok-haraket/giris" class="btn btn-primary col-md-12"  style="margin-top: 15px;">Yeni Alım Faturası</a>

                        </div>



                    </div>
                </div>
            </div>
        </div>




    </div>
{% endblock %}