{% extends "layout-light.twig" %}

{% block pagename %}<i class="mdi mdi-monitor-dashboard mr-2"></i>Anasayfa{% endblock %}
{% block bread %}  
    
            <li class="breadcrumb-item"><a href="javascript:void(0);">Hoşgeldiniz</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0);">Pano</a></li>{% endblock %}

{% block content %}

  


         

{% endblock %}

{%  block footer %}

{% endblock %}