{% extends "layout-light.twig" %}
{% block content %}

<div class="col-md-12">
<div class="card">
<div class="card-header">
<h5>Şifre Güncelleme</h5>
</div>
<div class="card-body">
<div class="row">
<div class="col-md-12">
<form id="logout-form" action="{{url}}/user/password-update" method="post">
{{csrf | raw}}


<div class="form-group">
<label for="exampleInputPassword1">Eski Şifre</label>
<input type="password" class="form-control" name="eskisifre"  placeholder="Eski Şifrenizi Yazınız">
</div>

<div class="form-group">
<label for="exampleInputPassword1">Yeni Şifre</label>
<input type="password" class="form-control" name="yenisifre"  placeholder="Yeni Şifrenizi Yazınız">
</div>


<div class="form-group">
<label for="exampleInputPassword1">Yeni Şifre Tekrar</label>
<input type="password" class="form-control" name="yenisifretekrar" placeholder="Yeni Şifrenizi Tekrar Yazınız">
    
<small id="emailHelp" class="form-text text-muted">İki Şifre Birbiri İle Aynı Olmak Zorundadır</small>
    
</div>

<button type="submit" class="btn btn-primary">Güncelle</button>
</form>
</div>

</div>

</div>
</div>
</div>

{% endblock %}